<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ToDo_List</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegisterController</display-name>
    <servlet-name>UserRegisterController</servlet-name>
    <servlet-class>com.mydata.controller.UserRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterController</servlet-name>
    <url-pattern>/UserRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>com.mydata.controller.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTodoServlet</display-name>
    <servlet-name>AddTodoServlet</servlet-name>
    <servlet-class>com.mydata.controller.AddTodoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTodoServlet</servlet-name>
    <url-pattern>/AddTodoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTodoServlet</display-name>
    <servlet-name>UpdateTodoServlet</servlet-name>
    <servlet-class>com.mydata.controller.UpdateTodoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTodoServlet</servlet-name>
    <url-pattern>/UpdateTodoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTodoServlet1</display-name>
    <servlet-name>UpdateTodoServlet1</servlet-name>
    <servlet-class>com.mydata.controller.UpdateTodoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTodoServlet1</servlet-name>
    <url-pattern>/UpdateTodoServlet1</url-pattern>
  </servlet-mapping>
</web-app>